In [27]:
import pandas as pd

In [28]:
df1 = pd.read_csv('filtered3_df.csv')

In [29]:
df2 = pd.read_csv('salary.csv')

In [30]:
df1.tail(5)

,Unnamed: 0,Unnamed: 0.1,Season,Game_ID,PLAYER_NAME,POS,Team,GAME_DATE,MATCHUP,WL,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,DD,TD,total_fantasy_points
22058,28231,1284050,2021,22000214,Zion Williamson,PF,NOP,2021-01-19,NOP @ UTA,L,...,1.0,0.0,2.0,4.0,32,-8.0,1,no,no,30.25
22059,28232,1284049,2021,22000227,Zion Williamson,PF,NOP,2021-01-21,NOP @ UTA,L,...,0.0,0.0,1.0,0.0,27,-21.0,1,no,no,20.25
22060,28233,1284048,2021,22000246,Zion Williamson,PF,NOP,2021-01-23,NOP @ MIN,L,...,1.0,1.0,2.0,3.0,19,-4.0,1,no,no,31.75
22061,28234,1284047,2021,22000279,Zion Williamson,PF,NOP,2021-01-27,NOP vs. WAS,W,...,2.0,1.0,2.0,3.0,32,4.0,1,no,no,27.00
22062,28235,1284046,2021,22000293,Zion Williamson,PF,NOP,2021-01-29,NOP vs. MIL,W,...,1.0,1.0,2.0,2.0,21,10.0,1,no,no,36.25

In [31]:
df2.tail(5)

,Unnamed: 0,GID,"Last, First",First Last,Date,Team,Opp,H/A,GameID,GTime(ET),...,DD Sal,DD Change,YH Sal,YH Change,FD pos,DK pos,DD pos,YH pos,ADI,VMI
37053,38759,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2021-01-03,dal,chi,A,20210103-dal-chi,21.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,64.33,0.03
37054,38760,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2021-01-01,dal,mia,H,20210101-mia-dal,20.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,64.52,-0.16
37055,38761,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-30,dal,cha,H,20201230-cha-dal,21.5,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,63.92,0.81
37056,38763,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-25,dal,lal,A,20201225-dal-lal,21.0,...,NaN,NaN,10.0,0.0,5.0,5.0,NaN,5.0,66.34,-2.57
37057,38764,4817,"Cauley-Stein, Willie",Willie Cauley-Stein,2020-12-23,dal,pho,A,20201223-dal-pho,23.5,...,NaN,NaN,10.0,NaN,5.0,5.0,NaN,5.0,63.42,0.58

In [32]:
df2.columns.values

array(['Unnamed: 0', 'GID', 'Last, First', 'First  Last', 'Date', 'Team',
       'Opp', 'H/A', 'GameID', 'GTime(ET)', 'Team pts', 'Opp pts',
       'Start', 'Minutes', 'GP', 'active', 'FDP', 'DKP', 'DDP', 'YHP',
       'Stats', 'DoubleD', 'TripleD', 'FD Sal', 'FD Change', 'DK Sal',
       'DK Change', 'DD Sal', 'DD Change', 'YH Sal', 'YH Change',
       'FD pos', 'DK pos', 'DD pos', 'YH pos', 'ADI', 'VMI'], dtype=object)

In [33]:
df2 = df2[['First  Last', 'Date', 'DK Sal']]
df2

               First  Last        Date  DK Sal
0             Drew Eubanks  2021-05-19  3200.0
1             Drew Eubanks  2021-05-16  3400.0
2             Drew Eubanks  2021-05-15  3100.0
3             Drew Eubanks  2021-05-13  3200.0
4             Drew Eubanks  2021-05-12  3200.0
...                    ...         ...     ...
37053  Willie Cauley-Stein  2021-01-03  3200.0
37054  Willie Cauley-Stein  2021-01-01  3200.0
37055  Willie Cauley-Stein  2020-12-30  3300.0
37056  Willie Cauley-Stein  2020-12-25  3000.0
37057  Willie Cauley-Stein  2020-12-23  3000.0

[37058 rows x 3 columns]

In [34]:
df2 = df2.rename(columns={'First  Last': 'PLAYER_NAME', 'Date': 'GAME_DATE'})
merged_df = df1.merge(df2[['PLAYER_NAME', 'GAME_DATE', 'DK Sal']], on=['PLAYER_NAME', 'GAME_DATE'], how='left')
merged_df = merged_df.rename(columns={'DK Sal': 'salary'})

In [35]:
merged_df

,Unnamed: 0,Unnamed: 0.1,Season,Game_ID,PLAYER_NAME,POS,Team,GAME_DATE,MATCHUP,WL,...,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,DD,TD,total_fantasy_points,salary
0,0,433183,2020,22000024,Aaron Gordon,PF,ORL,2020-12-26,ORL @ WAS,W,...,0.0,0.0,3.0,15,16.0,1,no,no,26.75,6900.0
1,1,433182,2020,22000033,Aaron Gordon,PF,ORL,2020-12-27,ORL @ WAS,W,...,0.0,0.0,0.0,4,-12.0,1,no,no,13.00,6700.0
2,2,433181,2020,22000052,Aaron Gordon,PF,ORL,2020-12-29,ORL @ OKC,W,...,1.0,3.0,2.0,12,1.0,1,no,no,21.25,6300.0
3,3,433180,2020,22000064,Aaron Gordon,PF,ORL,2020-12-31,ORL vs. PHI,L,...,2.0,2.0,0.0,6,-23.0,1,no,no,13.75,6000.0
4,4,433184,2020,22000012,Aaron Gordon,PF,ORL,2020-12-23,ORL vs. MIA,W,...,0.0,2.0,4.0,20,17.0,1,no,no,28.75,6100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22058,28231,1284050,2021,22000214,Zion Williamson,PF,NOP,2021-01-19,NOP @ UTA,L,...,0.0,2.0,4.0,32,-8.0,1,no,no,30.25,7900.0
22059,28232,1284049,2021,22000227,Zion Williamson,PF,NOP,2021-01-21,NOP @ UTA,L,...,0.0,1.0,0.0,27,-21.0,1,no,no,20.25,7700.0
22060,28233,1284048,2021,22000246,Zion Williamson,PF,NOP,2021-01-23,NOP @ MIN,L,...,1.0,2.0,3.0,19,-4.0,1,no,no,31.75,7600.0
22061,28234,1284047,2021,22000279,Zion Williamson,PF,NOP,2021-01-27,NOP vs. WAS,W,...,1.0,2.0,3.0,32,4.0,1,no,no,27.00,7800.0
22062,28235,1284046,2021,22000293,Zion Williamson,PF,NOP,2021-01-29,NOP vs. MIL,W,...,1.0,2.0,2.0,21,10.0,1,no,no,36.25,7600.0

In [36]:
merged_df.columns.values

array(['Unnamed: 0', 'Unnamed: 0.1', 'Season', 'Game_ID', 'PLAYER_NAME',
       'POS', 'Team', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PLUS_MINUS', 'VIDEO_AVAILABLE', 'DD', 'TD',
       'total_fantasy_points', 'salary'], dtype=object)

In [37]:
merged_df['POS'].unique()

array(['PF', 'PG', 'SF', 'C', 'SG', 'SF-SG', 'SG-PG', 'PF-SF'],
      dtype=object)

In [38]:
merged_df.to_csv('filtered3_df_full.csv')